*{
  padding: 0;
  margin: 0;
}

.container{
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;

}
h2{
    font-size: 3rem;
}

p{
  font-size: 1.5rem;
}

.student{
  background-color: white;
  padding: 2rem;
  min-width: 60%;
}


.btn{
  background-color: crimson;
  border: none;
  padding: 5px 1rem;
  margin: 2rem 0;
  margin-right: auto;
  font-size: 1.2rem;
  color: white;
}