.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  flex-direction: column;
  gap: 1rem;
}

.input{
  width: 400px;
  padding: 0.8rem;
  border: none;
  background-color: #eee;
  border-radius: 0.8rem;
}

.text-center{
  text-align: center;
}

.input:focus{
  border: none ;
  outline: 2px solid blue;
}
.form-container{
  border: 1px solid #eee;
  padding: 1rem;
  border-radius: 1rem;
}

.btn{
  background-color: blue;
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 1rem;
}

.mb-2{
  margin-bottom: 1rem;
}
.error{
  color: crimson;
}