*{
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}
:root{
  --space-sm: 0.5rem ;
  --space-md: 1.5rem;
  --space-lg: 2.5rem ;
  --primary-color: crimson;
  --secondary-color: gray;
  --light-color : #eee ;
}
.container{
  padding:var(--space-lg) ;
}

.grid{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: var(--space-md);
}

.grid-item{
  width: 300px;
  height: 100%;
}

.image-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(000, 000, 000, 0.8);
}

.image-holder{
  position: relative;
}

#close{
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  border: none;
  color: white;
  cursor: pointer;
  padding: var(--space-sm);
}

.hide{
  display: none;
}

.center{
  text-align: center;
}

.mb-md{
  margin-bottom: var(--space-md);
}

footer{
  padding: var(--space-md);
  background-color: var(--light-color);
}